services:
  db:
    image: pgvector/pgvector:pg16
    container_name: mood2makan_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mood2makan
    volumes:
      - ./backend/init/init_db.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mood2makan_backend
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/mood2makan
    ports:
      - "8007:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mood2makan_frontend
    restart: always
    ports:
      - "2805:3000"
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      # Override the route rule for proxying to backend in Docker network
      - NITRO_ROUTE_RULES={"/api/**":{"proxy":"http://backend:8000/api/v1/**"}}
    depends_on:
      - backend

  adminer:
    image: adminer
    container_name: mood2makan_adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  postgres_data:
